/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 62px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_cards.scss';
@import './sections/_tabs.scss';
@import './sections/_services.scss';
@import './sections/_testimonials.scss';
@import './sections/_portfolio.scss';
@import './sections/_team.scss';
@import './sections/_faq.scss';
@import './sections/_contact.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_service-details.scss';
@import './sections/_starter-section.scss';